# Ignorar la carpeta del repositorio de los docentes
2_Bimestre/AdD/CEIA_Analisis_de_datos/
2_Bimestre/AMq/aprMaqI_CEIA
2_Bimestre/GdP/PlanificacionCEIA
2_Bimestre/AMq/Aprendizaje_de_maquina_1
3_Bimestre/AP/aprendizaje_profundo
3_Bimestre/AP/dataset_compras.csv
3_Bimestre/VpC/vision_computadora_I
3_Bimestre/VpC/white_patch_resultados
3_Bimestre/MLOPS/aprendizaje_maquina_II
4_Bimestre/PLN/procesamiento_lenguaje_natural
4_Bimestre/VpC2/vision_computadora_II
4_Bimestre/TTF_A/Plantilla-para-memoria
4_Bimestre/VpC2/Data
4_Bimestre/PLN/Desafio_2/songs_dataset
4_Bimestre/VpC2/tpfinal
5_Bimestre/TTFB/TTS/tts
5_Bimestre/TTFB/spkrec-xvect-voxceleb
5_Bimestre/TTFB/TTS/speecht5_finetuned_tts_rioplatense

# VS Code settings y entorno
.vscode/
*.code-workspace

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
env/
venv/
.venv/

# Checkpoints de Jupyter
.ipynb_checkpoints/

# Archivos ocultos de JupyterLab
.jupyterlab-workspace*

# Salida de notebooks exportados
*.html
####*.pdf

# Datos temporales
*.log
*.tmp

# Archivos comprimidos
*.zip
*.tar

*.pkl

*.wav
*.mp3

